@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #0b1120;

  --primary: #2563eb;
  --primary-soft: #dbeafe;
  --primary-foreground: #f9fafb;

  --surface: #ffffff;
  --surface-muted: #f3f4f6;

  --border-subtle: #e5e7eb;
  --border-strong: #cbd5f5;

  --text-muted: #6b7280;
  --text-soft: #9ca3af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);
  --color-primary-foreground: var(--primary-foreground);

  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);

  --color-border-subtle: var(--border-subtle);
  --color-border-strong: var(--border-strong);

  --color-text-muted: var(--text-muted);
  --color-text-soft: var(--text-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e5e7eb;

    --primary: #60a5fa;
    --primary-soft: #1d4ed8;

    --surface: #020617;
    --surface-muted: #020617;

    --border-subtle: #111827;
    --border-strong: #1f2937;

    --text-muted: #9ca3af;
    --text-soft: #6b7280;
  }
}